@import 'tailwindcss';

/* Где Tailwind ищет классы */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';
@source '../js/**/*.js';

/* Темизация (по желанию) */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Какие-то свои глобальные стили можно добавить сюда
body {
    @apply bg-gray-100 text-gray-900;
}
*/






.label {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md;
}

/* Colors */
.label-blue {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md bg-[#1D5BAE] text-white;
}

.label-green {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md bg-green-600 text-white;
}

.label-red {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md bg-red-600 text-white;
}

.label-orange {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md bg-orange-500 text-white;
}

.label-gray {
    @apply inline-block text-xs font-semibold px-2 py-1 rounded-md bg-gray-500 text-white;
}